.app {
  display: grid;
  place-items: center;
  height: 100vh;
  background-image: url('https://www.wearemarketing.com/media/cache/dynamic/rc/Hq1HtaOj//uploads/media/default/0001/21/c7b375b10b31a5d662bc36185291e6bfceeacf20.jpeg');
  background-size: cover;
}
.app__body {
  display: flex;
  background-color: #ededed;
  margin-top: -50px;
  height: 90vh;
  width: 90vw;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
}

.error_404{
  color: #fff;
  font-family: Nunito, Roboto, Arial, sans-serif;
  font-size: 80px;
}